h1{
  text-align: center;
  color: #756bb1;
  font-family: sans-serif;
  font-size: 60px;
}
svg{
  display:inline;
  margin:auto;
  vertical-align: middle;
}
svg.svglegend{
  display:inline;
  margin:auto;
  vertical-align: top;
}
p{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
.legend{
  font-weight:bold;
  font-size : 14px;
}

/* .slider{
  -webkit-appearance: none;
  appearance:none;
  width:100px;
  height: 25px;
  background:#d3d3d3;
  outline:none;
  opacity:0.7;
  -webkit-transition:.2s;
  transition: opacity .2s;
} */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0093FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0093FF;
    cursor: pointer;
}
